# Virtual Environment
trade_discovery/venv/
venv/
ENV/
env/

# Python Cache
**/__pycache__/
*.py[cod]
*$py.class

# Data Files

# Outputs
trade_discovery/outputs/
outputs/

# Logs
trade_discovery/logs/
*.log

# IDEs
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
